@using GestionImpresoras.Models;
@using GestionImpresoras.ViewModels;
@model Unidad          // Con dicho código dejo de uilizar ViewModel 

@{
    ViewData["Title"] = "Crear nueva Unidad";
}
<h1>Crear Unidad</h1>
<h5>Se refiere a los unidades que conforman las áreas de la institución </h5>
    <form asp-action="Crear" asp-controller="Unidades" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

     <!--- Para Lista de Marcas   -->
    <div class="mb-3">
        <label asp-for="AreaId" class="form-label">Area</label>
        <select class="form-select form-select sm" asp-for="AreaId" asp-items="ViewBag.AreaId">
         @* <select class="form-select form-select sm" asp-for="AreaId" asp-items="@Model.vListaAreas"> *@
        <option > --- Seleccionar ---</option></select>
        <span asp-validation-for="Area" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label">Nombre</label>
        <input type="text" asp-for="Nombre" class="form-control" placeholder="Ingrese el Nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Descripcion" class="form-label">Descripción</label>
        <input type="text" asp-for="Descripcion" class="form-control" placeholder="Ingrese la Descripción" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div> 

    <button asp-for="BtnSummit" type="submit" class="btn btn-primary">Enviar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>

</form>
    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!-------   Codigo para recargar listado de Marcas  ------------------->
        <script>
        $(document).ready(function () {
            $("#Nombre").blur(function () {
                if ($("#AreaId").val() === "--- Seleccionar ---") {
                    alert("Debe seleccionar un Área.");
                    $("#AreaId").focus();
                }
            });
        });
        </script>

        <!-------   Codigo para recargar listado de Marcas  ------------------->
        <script>
        document.querySelector('button[type="submit"]').addEventListener('click', function(event) 
        {
        if (document.querySelector('#MarcaId').value === '--- Seleccionar ---') 
        {
        alert('Debe seleccionar una marca.');
        event.preventDefault();
        }
        });
        </script>

        <!-------   Codigo para recargar listado de Marcas  ------------------->
        <script>
        document.querySelector('form').addEventListener('submit', function(event) {
        if (document.querySelector('#MarcaId').value === '--- Seleccionar ---') {
        alert('Debe seleccionar una marca.');
        event.preventDefault();
        }
        });
    
        </script>
        }
        