@using GestionImpresoras.Models;
@using GestionImpresoras.ViewModels;
@model Impresora  //ImpresoraViewModel se eliminó tambien de todas las referencias y asp-items="@Model.vListaMarca"  asp-items="@Model.vListaModelo"
                    
@{
    ViewData["Title"] = "Crear nueva Impresora";
}
<h1>Crear Impresora</h1>
<h5>Se refiere a las Impresora utilizadas en la institución </h5>
    <form asp-action="Crear" asp-controller="Impresoras" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="CodigoActivoFijo " class="form-label">Codigo Activo Fijo</label>
        <input type="text" asp-for="CodigoActivoFijo" class="form-control" placeholder="Ingrese el Codigo Activo Fijo" />
        <span asp-validation-for="CodigoActivoFijo" class="text-danger"></span>
    </div>

    <!--- Para Lista de Marca   -->
    <div class="mb-3 form-group">
        <label asp-for="MarcaId" class="form-label">Marca</label>
        <select class="form-select form-select sm" asp-for="MarcaId" asp-items="ViewBag.MarcaId">
        <option > --- Seleccionar Marca --- </option></select>
        <span asp-validation-for="Marca" class="text-danger"></span>
    </div>
     
        <!--- Para Lista de Modelo   -->
    <div class="form-group  mb-3">
        <label asp-for="ModeloId" class="form-label">Modelo</label>
        <select class="form-select form-select sm" asp-for="ModeloId" asp-items="ViewBag.ModeloId">
        <option > --- Seleccionar Modelo --- </option></select>
        <span asp-validation-for="Modelo" class="text-danger"></span>
    </div>

            <!--- Para Lista de Area   -->
    <div class="form-group mb-3">
        <label asp-for="AreaId" class="form-label">Área</label>
        <select class="form-select form-select sm" asp-for="AreaId" asp-items="ViewBag.AreaId">
        <option > --- Seleccionar Area --- </option></select>
        <span asp-validation-for="Area" class="text-danger"></span>
    </div>

        <!--- Para Lista de Unidad   -->
    <div class="form-group mb-3">
        <label asp-for="UnidadId" class="form-label">Unidad</label> 
        <select class="form-select form-select sm" asp-for="UnidadId" asp-items="ViewBag.UnidadId">
        <option > --- Seleccionar Unidad --- </option></select>
        <span asp-validation-for="Unidad" class="text-danger"></span>
    </div>

    <!--- Para Lista de Estados   -->
    <div class="form-group mb-3">
        <label asp-for="EstadoId" class="form-label">Estado</label>
        <select class="form-select form-select sm" asp-for="EstadoId" asp-items="ViewBag.EstadoId">
        <option > --- Seleccionar Estado --- </option></select>
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="InstitucionId" class="form-label">Institución</label>
        <select class="form-select form-select sm" asp-for="InstitucionId" asp-items="ViewBag.InstitucionId">
        <option > --- Seleccionar Estado --- </option></select>
        <span asp-validation-for="Institucion" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="DireccionIP" class="form-label">Direccion IP</label>
        <input type="text" asp-for="DireccionIP" class="form-control" placeholder="Ingrese la Dirección IP" />
        <span asp-validation-for="DireccionIP" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Caracteristicas" class="form-label">Caracteristicas</label>
        <input type="text" asp-for="Caracteristicas" class="form-control" placeholder="Ingrese las Caracteristicas" />
        <span asp-validation-for="Caracteristicas" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
     <!---------------  Codigo para actualización dinamica Marcas y Modelos ------------->
    <script type="text/javascript">
        $(document).ready(function () {
            // Agrega un controlador de eventos al elemento con el ID "MarcaId"
            $("#MarcaId").change(function () {
                 // Hace una solicitud GET a la ruta "/Modelos/GetModelos"
                $.get("/Impresoras/GetModelos", { MarcaId: $("#MarcaId").val() }, function (data) {
                    // Vacía el contenido del elemento con el ID "ModeloId"
                    $("#ModeloId").empty();
                    // Itera sobre la lista de modelos recibida
                    $.each(data, function (index, row) {
                        // Agrega opciones al elemento "ModeloId" con los valores y nombres de los modelos
                        $("#ModeloId").append("<option value='" + row.id + "'>" + row.nombre + "</option>")
                    });
                });
            })
        });
    </script>
         <!---------------  Codigo para actualización dinamica Areas y unidades ------------->
    <script type="text/javascript">
        $(document).ready(function () {
            // Agrega un controlador de eventos al elemento con el ID "AreaId"
            $("#AreaId").change(function () {
                 // Hace una solicitud GET a la ruta "/Modelos/GetModelos"
                $.get("/Impresoras/GetUnidades", { AreaId: $("#AreaId").val() }, function (data) {
                    // Vacía el contenido del elemento con el ID "ModeloId"
                    $("#UnidadId").empty();
                    // Itera sobre la lista de modelos recibida
                    $.each(data, function (index, row) {
                        // Agrega opciones al elemento "ModeloId" con los valores y nombres de los modelos
                        $("#UnidadId").append("<option value='" + row.id + "'>" + row.nombre + "</option>")
                    });
                });
            })
        });
    </script>
}


@*
@section Scripts {
    <!---------------  Vlidacion con Jquery ------------->
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type= "text/javascript">
        $(document).ready(function () {
            $("#MarcaId").change(function () {
                $.get("/Impresoras/GetModelos", { MarcaId: $("#MarcaId").val() }, function (data) {
                    $("#ModeloId").empty();
                    $.each(data, function (index, row) {
                        $("#ModeloId").append("<option value='" + row.id + "'>" + row.nombre + "</option>")
                    });
                });
            })
        });
    </script> 
    }

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
     <!---------------  Codigo para actualización dinamica  ------------->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#MarcaId").change(function () {
                $.get("/Impresoras/GetModelos", { MarcaId: $("#MarcaId").val() }, function (data) {
                    $("#ModeloId").empty();
                    $.each(data, function (index, row) {
                        $("#ModeloId").append("<option value='" + row.id + "'>" + row.nombre + "</option>")
                    });
                });
            })
        });
    </script>
}
  <!---------------  Codigo para actualización dinamica utilizando DropDownList  ------------->
        <script type="text/javascript">
            $(function () {
                // Cuando el valor del SelectListItem de Marca cambie
                $("#MarcaId").change(function () {
                    // Obtener el valor seleccionado
                    var marcaId = $(this).val();
                    // Vaciar el SelectListItem de Modelo
                    $("#ModeloId").empty();
                    // Obtener los modelos correspondientes a la marca seleccionada
                    $.getJSON("/Impresoras/GetModelosByMarcaId/${marcaId}", function (modelos) {
                        // Agregar cada modelo al SelectListItem de Modelo
                        $.each(modelos, function (index, modelo) {
                                    $("#ModeloId").append('<option value="${modelo.value}">${modelo.text}</option>');
                        });
                    });
                });
            });
        </script>
}
*@
